pkgbase = calamares-eo
	pkgdesc = Distribution-independent installer framework
	pkgver = 3.4.1.r18.gc5c9b797d
	pkgrel = 1
	url = https://codeberg.org/Calamares/calamares
	arch = i686
	arch = x86_64
	license = GPL
	license = LGPL
	makedepends = boost
	makedepends = cmake
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = ninja
	makedepends = python-jsonschema
	makedepends = python-pyaml
	makedepends = python-unidecode
	makedepends = qt6-tools
	depends = boost-libs
	depends = dmidecode
	depends = gptfdisk
	depends = hwinfo
	depends = ckbcomp
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = kiconthemes
	depends = ki18n
	depends = kparts
	depends = kpmcore
	depends = kservice
	depends = kwidgetsaddons
	depends = mkinitcpio-openswap
	depends = networkmanager
	depends = polkit-qt6
	depends = python
	depends = python-distutils-extra
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = rsync
	depends = solid
	depends = squashfs-tools
	depends = yaml-cpp
	provides = calamares
	conflicts = calamares
	source = git+https://codeberg.org/Calamares/calamares.git#commit=c5c9b797d56f61bc9979ec22851622a07ba328d8
	source = git+https://github.com/sourcecorearch/core-pkgbuilds.git
	source = calamares.desktop
	source = calamares_polkit
	source = 49-nopasswd-calamares.rules
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = c176b28007bd1c1f23d8dbb2c936fa54d0c01bacfb67290ddad597606c129df3
	sha256sums = 56d85ff6bf860b9559b8c9f997ad9b1002f3fccc782073760eca505e3bddd176

pkgname = calamares-eo
