[Desktop Entry]
Name=EOS Welcome
Comment=Ventana de bienvenida del sistema live
Exec=eosos-welcome
Terminal=false
Type=Application
Categories=System;

X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel